$fontfamily: "Mulish", sans-serif;

$minwidth: 320px;
$mw: 1044; // +20px
$md1: $mw;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$bs: 0px 20px 60px rgba(49, 69, 244, 0.1);


$tr: all 0.2s linear 0.1s;
